<div class="container">

    @if (movie) {
        <div class="movie-container">
            <div class="movie-details">
                <div class="movie-poster" (click)="openPosterDialog()">
                    <img src="{{movie.posterPath}}" alt="{{movie.title}}">
                </div>

                <div class="movie-info">
                    <h1 class="movie-title">
                        {{ movie.title }}
                        <span>({{ movie.startDate | date:'yyyy' }})</span>
                    </h1>
                    <div class="movie-summary">
                        <span>{{ movie.startDate | date:'dd.MM.yyyy' }}</span>
                        <span class="dot"></span>
                        <span>{{ movie.genres.join(', ') }}</span>
                        <span class="dot"></span>
                        <span>{{ formatDuration(movie.duration) }}</span>
                        <span class="dot"></span>
                        <span>{{ movie.technologies[0] }}</span>
                    </div>
                    <p class="movie-description">{{ movie.description }}</p>
                    <div class="movie-credits">
                        <p class="movie-actors">
                            Glumci:
                            <br>
                            <span>{{ movie.actors.join(', ') }}</span>
                        </p>
                        <p class="movie-directors">
                            Režiseri:
                            <br>
                            <span>{{ movie.directors.join(', ') }}</span>
                        </p>
                        <p class="movie-distributor">
                            Distributor:
                            <br>
                            <span>{{ movie.distributorName }}</span>
                        </p>
                    </div>
                    <div class="movie-actions">
                        <button mat-flat-button class="cart-button">
                            <mat-icon fontIcon="shopping_cart"/>
                            Dodaj u korpu
                        </button>
                        <a mat-flat-button class="trailer-button" href="{{movie.trailerUrl}}" target="_blank">
                            <mat-icon fontIcon="movie"/>
                            Pogledaj trailer
                        </a>
                    </div>
                </div>
            </div>

            <div class="movie-gallery">
                <button class="gallery-arrow left" (click)="previousImage()">&#10094;</button>
                <div class="gallery-track" #galleryContainer>

                    @for (image of movie.gallery; track image; let index = $index) {
                        <img [src]="image" alt="Gallery Image" (click)="openGalleryDialog(index)">
                    }

                </div>
                <button class="gallery-arrow right" (click)="nextImage()">&#10095;</button>
            </div>

            <div class="movie-reviews">
                <div class="review-header">
                    <h2>Recenzije</h2>
                    <div class="date-range">March 2021 - February 2022</div>
                </div>
                <div class="flex-container" style="flex-wrap: wrap">
                    <div class="flex-column">
                        <div class="review-summary-item">
                            <div class="review-title">Ukupan broj recenzija</div>
                            <div class="review-value">
                                {{ totalReviews }}
                            </div>
                        </div>

                        <!-- Column 2: Average Rating -->
                        <div class="review-summary-item">
                            <div class="review-title">Prosečna ocena</div>
                            <div class="rating-stars">
                                <mat-icon *ngFor="let star of [1,2,3,4]">star</mat-icon>
                                <mat-icon>star_half</mat-icon>
                            </div>
                        </div>

                        <!-- Column 3: Rating Breakdown -->
                        <div class="review-summary-item rating-breakdown">
                            <div *ngFor="let rating of ratingDistribution" class="rating-row">
                                <span class="rating-label">{{ rating.stars }}</span>
                                <div class="rating-bar">
                                    <div
                                        class="rating-fill"
                                        [ngStyle]="{ 'width': (rating.count / maxRatingCount) * 100 + '%', 'background-color': rating.color }">
                                    </div>
                                </div>
                                <span class="rating-count">{{ rating.count }}</span>
                            </div>
                        </div>

                        <div class="review-action">
                            <p>Recenzirajte ovaj film</p>
                            <p>Podelite mišljenje sa drugim korisnicima</p>
                            <button mat-flat-button class="cart-button" (click)="openMovieReviewDialog()">
                                <mat-icon fontIcon="reviews"></mat-icon>
                                Napišite recenziju
                            </button>
                        </div>
                    </div>

                    <div>
                        <div *ngIf="(reviews$ | async)?.length === 0">
                            <p>Nema recenzija za ovaj film.</p>
                        </div>

                        <div *ngFor="let review of reviews$ | async" class="review">
                            <h3>{{ review.title }}</h3>
                            <p><strong>Ocena:</strong> {{ review.rating }} / 10</p>
                            <p>{{ review.content }}</p>
                            <p class="review-meta">Objavljeno: {{ review.createdAt | date:'short' }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    @if (!movie) {
        <app-loading/>
    }
</div>
