<h2 mat-dialog-title>Potvrda lozinke</h2>
<mat-dialog-content>
    <p>Molimo unesite svoju lozinku da biste nastavili.</p>
    <form [formGroup]="passwordForm">
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <mat-label>Lozinka</mat-label>
            <mat-icon matPrefix fontIcon="lock"/>
            <input type="password" matInput formControlName="password" #password>
            <button
                mat-icon-button
                type="button"
                (click)="password.type === 'password'
                                    ? (password.type = 'text')
                                    : (password.type = 'password')"
                matSuffix>

                @if (password.type === 'password') {
                    <mat-icon [fontIcon]="'visibility_off'"/>
                }

                @if (password.type === 'text') {
                    <mat-icon [fontIcon]="'visibility'"/>
                }

            </button>

            @if (passwordForm.controls['password'].hasError('required')) {
                <mat-error>
                    Lozinka je obavezna!
                </mat-error>
            } @else if (passwordForm.controls['password'].getError('authError')) {
                <mat-error>
                    {{ passwordForm.controls['password'].getError('authError') }}
                </mat-error>
            }

        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-flat-button color="primary" [disabled]="isReauthenticating"
            (click)="confirm()">

        <ng-container
            ngProjectAs=".material-icons:not([iconPositionEnd]), mat-icon:not([iconPositionEnd]), [matButtonIcon]:not([iconPositionEnd])">

            @if (isReauthenticating) {
                <mat-spinner [mode]="'indeterminate'" diameter="30"/>
            } @else {
                <mat-icon fontIcon="check"/>
            }

        </ng-container>

        @if (!isReauthenticating) {
            Potvrdi
        }

    </button>

    <button mat-stroked-button (click)="cancel()">
        <mat-icon fontIcon="close"/>
        Otkaži
    </button>
</mat-dialog-actions>
