<mat-toolbar>
    <div class="toolbar-content">
        <a routerLink="/" class="title">
            <mat-icon>videocam</mat-icon> Bioskop
        </a>
        <span class="spacer"></span>
        <a routerLink="/" mat-button>
            <mat-icon>home</mat-icon>
            Naslovna
        </a>
        <a routerLink="/filmovi" mat-button>
            <mat-icon>movie</mat-icon>
            Filmovi
        </a>
        <a routerLink="/airlines" mat-button>
            <mat-icon>calendar_month</mat-icon>
            Repertoar
        </a>
        <a routerLink="/prijava" mat-button>
            <mat-icon>person</mat-icon>
            Prijava
        </a>
        <a routerLink="/registracija" mat-button>
            <mat-icon>person</mat-icon>
            Registracija
        </a>
    </div>
</mat-toolbar>

<router-outlet/>
