<div class="container">
    <mat-card id="auth-card">
        <mat-card-header>
            <h2>Prijava</h2>
        </mat-card-header>
        <mat-card-content>
            <form>
                <mat-form-field class="full-width">
                    <mat-label>Email</mat-label>
                    <input type="text" matInput placeholder="Unesite email...">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Lozinka</mat-label>
                    <input [type]="hidePassword ? 'password' : 'text'" matInput placeholder="Unesite lozinku...">
                    <mat-icon matSuffix (click)="hidePassword = !hidePassword" class="password-toggle">
                        {{ hidePassword ? 'visibility_off' : 'visibility' }}
                    </mat-icon>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-flat-button>
                <mat-icon>login</mat-icon>
                Prijavite se
            </button>
            <a routerLink="/signup" mat-button>
                <i class="fa-solid fa-arrow-up-right-from-square"></i> Create an account
            </a>
        </mat-card-actions>
    </mat-card>
</div>
