<div class="container">
    <h2 class="mb-4">Moje rezervacije</h2>

    <mat-form-field appearance="fill">
        <mat-label>Pretraga</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Pretraži rezervacije">
    </mat-form-field>

    <table mat-table [dataSource]="reservations" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td mat-cell *matCellDef="let reservation">{{ reservation.id }}</td>
        </ng-container>

        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Film</th>
            <td mat-cell *matCellDef="let reservation">{{ reservation.title }}</td>
        </ng-container>

        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Cena</th>
            <td mat-cell *matCellDef="let reservation">{{ reservation.price }}</td>
        </ng-container>

        <ng-container matColumnDef="totalPrice">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Ukupna Cena</th>
            <td mat-cell *matCellDef="let reservation">{{ reservation.totalPrice }}</td>
        </ng-container>

        <ng-container matColumnDef="ticketCount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Broj karata</th>
            <td mat-cell *matCellDef="let reservation">{{ reservation.ticketCount }}</td>
        </ng-container>

        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Datum</th>
            <td mat-cell *matCellDef="let reservation">{{ reservation.date }}</td>
        </ng-container>

        <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Vreme</th>
            <td mat-cell *matCellDef="let reservation">{{ reservation.time }}</td>
        </ng-container>

        <ng-container matColumnDef="hall">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Sala</th>
            <td mat-cell *matCellDef="let reservation">{{ reservation.hall }}</td>
        </ng-container>

        <ng-container matColumnDef="technology">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Tehnologija</th>
            <td mat-cell *matCellDef="let reservation">{{ reservation.technology }}</td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td mat-cell *matCellDef="let reservation">{{ reservation.status }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
