.accordion-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    padding: 20px;
}

.cards-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.movie-card {
    max-width: 330px;
    height: 500px;
    border-radius: 8px !important;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}

.image-container {
    width: 100%;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.movie-card img {
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
}

.movie-card:hover img {
    transform: scale(1.1);
}

mat-card-header {
    justify-content: center;
    text-align: center;
}

mat-card-title {
    font-size: 0.89rem !important;
    font-weight: bold !important;
}

mat-card-content {
    font-size: 0.95rem;
}

mat-card-content .movie-title {
    font-weight: bold;
    margin-top: 5%;
    height: 60px;
}

mat-card-content .movie-title a {
    color: white;
    text-decoration: none;
}

/*.movie-card mat-card-content {
    height: 80px;
}*/

mat-card-content .movie-title a:hover {
    color: gray;
}

.movie-card mat-card-actions {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.search-sort-container {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin-right: 16px;
}

.search-sort-container mat-form-field {
    width: 30%;
    margin-bottom: 0;
}

.movie-grid {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.list {
    max-height: 400px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

mat-slider {
    width: 100%;
    margin: 0;
}

.range {
    text-align: center;
}
