<div class="container">

    @if (error) {
        <app-error errorMessage="{{error}}"/>
    }

    @if (movies) {
        <form class="flex-container" [formGroup]="filterForm">
            <div class="accordion-container">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>Žanrovi</mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="list" formArrayName="genres">

                            @for (genre of genres; track genre; let index = $index) {
                                <mat-checkbox [formControlName]="index">
                                    {{ genre }}
                                </mat-checkbox>
                            }

                        </div>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>Trajanje</mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-slider min="30" max="240" step="5" discrete formGroupName="durationRange">
                            <input matSliderStartThumb formControlName="min">
                            <input matSliderEndThumb formControlName="max">
                        </mat-slider>
                        <div class="range">
                            <strong>{{ minDuration }} - {{ maxDuration }} min</strong>
                        </div>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>Režiser</mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="list" formArrayName="directors">

                            @for (director of directors; track director; let index = $index) {
                                <mat-checkbox [formControlName]="index">
                                    {{ director }}
                                </mat-checkbox>
                            }

                        </div>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>Glumci</mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="list" formArrayName="actors">

                            @for (actor of actors; track actor; let index = $index) {
                                <mat-checkbox [formControlName]="index">
                                    {{ actor }}
                                </mat-checkbox>
                            }

                        </div>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>Datum izlaska</mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-form-field>
                            <mat-label>Opseg datuma</mat-label>
                            <mat-date-range-input [rangePicker]="releaseDatePicker" formGroupName="releaseDateRange">
                                <input matStartDate formControlName="start">
                                <input matEndDate formControlName="end">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matIconSuffix [for]="releaseDatePicker"></mat-datepicker-toggle>
                            <mat-date-range-picker #releaseDatePicker></mat-date-range-picker>
                        </mat-form-field>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>Datum projekcije</mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-form-field>
                            <mat-label>Opseg datuma</mat-label>
                            <mat-date-range-input [rangePicker]="projectionDatePicker"
                                                  formGroupName="projectionDateRange">
                                <input matStartDate formControlName="start">
                                <input matEndDate formControlName="end">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matIconSuffix [for]="projectionDatePicker"></mat-datepicker-toggle>
                            <mat-date-range-picker #projectionDatePicker></mat-date-range-picker>
                        </mat-form-field>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>Cena</mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-slider min="500" max="1000" step="10" discrete formGroupName="priceRange">
                            <input matSliderStartThumb formControlName="min">
                            <input matSliderEndThumb formControlName="max">
                        </mat-slider>
                        <div class="range">
                            <strong>{{ minPrice }} - {{ maxPrice }} min</strong>
                        </div>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>Ocena</mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="flex-container flex-column" formArrayName="ratings">

                            @for (rating of ratings; track rating; let index = $index) {
                                <mat-checkbox [formControlName]="index">
                                    {{ rating }}
                                </mat-checkbox>
                            }

                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>

            <div class="cards-container">
                <div class="search-sort-container">
                    <mat-form-field appearance="outline">
                        <mat-label>Pretraži</mat-label>
                        <mat-icon matPrefix fontIcon="search"/>
                        <input type="text" matInput formControlName="searchQuery">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Sortiraj</mat-label>
                        <mat-icon matPrefix fontIcon="movie"/>
                        <mat-select (selectionChange)="onSortChange($event.value)">
                            <mat-option value="title_asc">Po nazivu rastuće</mat-option>
                            <mat-option value="title_desc">Po nazivu opadajuće</mat-option>
                            <mat-option value="price_asc">Po ceni rastuće</mat-option>
                            <mat-option value="price_desc">Po ceni opadajuće</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="movie-grid">
                    @for (movie of movies; track movie) {
                        <mat-card class="movie-card" appearance="outlined">
                            <div class="image-container">
                                <a [routerLink]="['/filmovi', utilityService.getSlug(movie.title)]">
                                    <img mat-card-image src="{{movie.posterPath}}" alt="{{movie.title}}">
                                </a>
                            </div>
                            <mat-card-content>
                                <p class="movie-title">
                                    <a [routerLink]="['/filmovi', utilityService.getSlug(movie.title)]">
                                        {{ movie.title }}
                                    </a>
                                </p>
                                <p>Početak prikazivanja: {{ movie.startDate | date:'dd.MM.yyyy' }}</p>
                            </mat-card-content>
                            <mat-card-actions>

                                @if (projectionService.hasProjection(movie.title)) {
                                    <button mat-button (click)="addToCart(movie)">
                                        <mat-icon>shopping_cart</mat-icon>
                                        Dodaj u korpu
                                    </button>
                                }

                                <a mat-button href="{{movie.trailerUrl}}" target="_blank">
                                    <mat-icon>movie</mat-icon>
                                    Trailer
                                </a>
                            </mat-card-actions>
                        </mat-card>
                    }
                </div>
            </div>
        </form>
    } @else {
        <app-loading/>
    }
</div>
