:root {
    --icon-color: var(--mat-sys-primary);
}

html, body {
    height: 100%;
    font-size: 1.125em;
    color: white;
    background-color: #1e2124;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}

button, a[mat-flat-button] {
    border-radius: 0.375rem !important;
}

mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toolbar-content {
    display: flex;
    align-items: center;
    width: 100%;
}

.title {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    gap: 5px;
}

.title:hover {
    opacity: 0.8;
}

.spacer {
    flex: 1 1 auto;
}

.full-width {
    width: 100%;
}

.password-toggle {
    cursor: pointer;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    gap: 0.89rem;
}

.half-form-row {
    flex: 1;
    max-width: calc(50% - 0.445rem);
}

mat-accordion {
    width: 100%;
}

.custom-container .mat-mdc-dialog-surface {
    border-radius: 0;
}

.justify-content-center {
    display: flex;
    justify-content: center;
}

.align-items-center {
    display: flex;
    align-items: center;
}

mat-form-field {
    width: 100%;
    margin-bottom: 3%;
}

.auth-card {
    margin-top: 3%;
    padding: 1% 1%;
    width: 40%;
}

.auth-card mat-card-actions {
    padding: 0 0.89rem;
}

.actions-container {
    display: flex;
    flex-direction: column !important;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}
